@import url('https://fonts.googleapis.com/css?family=Catamaran|Gugi');


:root {
    --padd: 20px;
    --marg: 20px;
    --shadow: 2px 2px 15px #000;
    --btn-bord: 5px solid;
    --txt-shadow: 1px 1px 3px #000;
    --trans: all 300ms ease-in-out;
    --inner-color: #3b3b3b;

    --display: 'Gugi', cursive;
    --status: 'Catamaran', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow: hidden;
    font-family: var(--status);
    background-color: #5ece3c;
    color: #fff;
}

.disappear {
    display: none;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1340px;
    max-height: 930px;
    margin: 0 auto;
    height: 100%;
    background-color: #5ece3c;
}






/* Game Screen */
.inner-left {
    float: left;
    height: 94%;
    width: 70%;
    background-color: #272727;
    border-radius: 30px;
    margin: 1.5% 5px;
}





/* game screen top */
#messages {
    width: 100%;
    margin-top: 20px;
}

#messages h1 {
    text-align: center;
    font-family: var(--display);
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5px;
}

.score {
    width: 400px;
    margin: 20px auto;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: var(--display);
    position: relative;
}

.win-head {
    float: left;
}

.lose-head {
    float: right;
}


.click-start {
    width: 500px;
    margin: 20px auto;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: var(--display);
    position: relative;
    color: #da5a5a;
    text-align: center;
}





/* Main battle stage */
.main-stage {
    width: 80%;
    height: 70%;
    background-color: #fffadc;
    margin: 40px auto;
    border-radius: 30px;
    position: relative;
}

.dark {
    background-color: var(--inner-color);
}

.light {
    background-color: #fffadc;

}

.nintendo {
    color:var(--inner-color);
    font-family: var(--display);
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 600%;
}

/* .nintendo p {
    position: absolute;
    top: 50%;
    margin-top: -50px;
} */

#poke-red {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-color: #000;
}


.choosing h3{
    text-align: center;
    font-size: 50px;
    line-height: 150px;
    letter-spacing: 2px;
    color: var(--inner-color);

}

.top {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 30%;
}

.chara-slot {
    position: relative;
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.chara-slot img {
    width: 100%;
}

.chara-slot p {
    margin-left: 20%;
    font-size: 18px;
    opacity: 0;
    color: var(--inner-color);
    transition: all 300ms ease-in-out;
}

.chara-name {
    font-weight: bold;
}

.chara-slot:hover p {
    opacity: 1;
}

.chara-slot:hover img {
    box-shadow: 0 0 10px 0 #d6d6d6,
                inset 0 0 30px 0 #b6b5b5;
    border-radius: 100px;
}






/* shared properties */
.left-status,
.right-status {
    width: 250px;
    height: 100px;
    position: absolute;
    color: var(--inner-color);
    padding: 10px;
}

.right-battle img,
.left-battle img {
    width: 100%;
}

.status-name {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
}

.status-attack {
    float: right;
}

.status-health {
    float: left;
}

.health-bar {
    width: 90%;
    height: 5px;
    background-color: #42d409;
    border-radius: 10px;
    margin-top: 25px;
}





/* ENENY */
.right-battle {
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: -20px;
    margin-right: -10px;
}

.right-status {
    top: 50px;
    right: 240px;
    text-align: right;
    border-left: 5px solid var(--inner-color);
    border-bottom: 5px solid var(--inner-color);
    border-radius: 30px
}






/* PLAYER */
.left-battle {
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 28%;
    left: 0px;
    margin-left: -20px;
}

.left-status {
    bottom: 29%;
    left: 240px;
    border-right: 5px solid var(--inner-color);
    border-bottom: 5px solid var(--inner-color);
    border-radius: 30px;
}

.left-battle img {
    bottom: 0;
}



.win-page,
.lose-page {
    width: 70%;
    height: 150px;
    border-radius: 30px;
    background-color: #ffffffa6;
    text-align: center;
    font-size: 40px;
    line-height: 120px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 20%;
}

.win-page {
    border: 8px solid #2b8dfd;
    color:#2b8dfd;
}

.lose-page {
    border: 8px solid #802d2d;
    color:#802d2d;
}






.info-center {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 28%;
    border-radius: 30px;
    border: 4px dashed var(--inner-color);
    padding: 20px 50px;
}

.info-center p {
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    color: var(--inner-color);
}






/* Game Controller */
.inner-right {
    float: right;
    height: 100%;
    width: 29%;
    position: relative;
    border: 1px solid #000;
}

.inner-right h3 {
    font-size: 40px;
    padding: 35px 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: var(--txt-shadow);
    margin-top: 50px;
}

.colors {
    letter-spacing: -18px;
    font-weight: 900;
    font-style: italic;
}

#red {
    color: #fa3e3e;
}

#purple {
    color: #a02ba0;
}

#green {
    color: #5dfa02;
}

#yellow {
    color: #e4e402;
}

#blue {
    color: #2488fa;
}

.wrapper {
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
}

.container-footer {
    width: 100%;
    height: 200px;
}

a.button {
    display: block;
    width: 150px;
    line-height: 60px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #FFF;
    border-radius: 20px;
    transition: var(--trans);
    text-decoration: none;
    background: #666666;
    box-shadow: 0px 10px 0px 0px #3b3b3b;
    border: 4px outset #7c7c7c;
}

a.button:hover {
    text-shadow: 1px 1px 3px #000;
}

a.button:active {
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 0px #3b3b3b;
}

.bottom-btm,
#music-div {
    position: absolute;
    width: 300px;
    top: 45%;
    left: 50%;
    margin-left: -150px;
    border: 1px solid #000;
}

.inner-right button {
    background-color: #3b3b3b;
    border-radius: 50px;
    color: #fff;
    border: 2px solid #666666;
    padding: 5px 30px;
    font-family: var(--status);
    font-size: 16px;
    width: 110px;
}

#start {
    float: left;
}

#reset {
    float: right;
}

.inner-right button:active {
    border: none;
}

#music-div {
    top: auto;
    bottom: 60px;
    border: 1px solid #000;
}

#sound {

}

#pikaimg {
    width: 80%;
    position: absolute;
    bottom: 90px;
    left: -130px;
}

@media screen and (max-width: 1350px)  { 
    .container {
        max-height: 740px;
    }

    #messages h1 {
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 2px;
    }

    .score {
        width: 300px;
        font-size: 28px;
        letter-spacing: 2px;
    }

    .bottom-btm,
    #music-div {
        width: 250px;
        top: 45%;
        left: 50%;
        margin-left: -125px;
    }

    #music-div {
        top: auto;
        bottom: 60px;
    }

    #pikaimg {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: -80px;
    }

    .right-battle {
        width: 250px;
        height: 120px;
    }

    .right-status {
        width: 270px;
        height: 80px;
        right: 200px;
    }


    .left-battle {
        width: 250px;
        height: 120px;
        /* position: absolute; */
        bottom: 45%;
        /* left: 70px; */
    }
    
    .left-status {
        width: 270px;
        height: 80px;
        bottom: 30%;
        left: 180px;
    }

    .status-name {
        font-size: 22px;
        line-height: 24px;
    }

    .gamegirl {
        display: block;
    }

    .nintendo {
        line-height: 461px;;
    }
}

@media screen and (max-width: 1000px)  { 
    .inner-left,
    .inner-right {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .inner-left {
        width: 90%;
        height: 70%;
    }

    .inner-right {
        width: 70%;
        height: 30%;
    }

    #messages h1 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 1px;
    }

    .score,
    .click-start {
        width: 300px;
        margin: 10px auto;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .main-stage {
        width: 90%;
        height: 75%;
        margin: 20px auto;
    }

    .nintendo {
        font-size: 70px;
        letter-spacing: 5px;
        line-height: 364px;;
    }

    #pikaimg {
        width: 200px;
        left: 140px;
        bottom: -10px;
        /* margin-left: 80%;
        margin-top: -10%; */
    }

    .inner-right h3 {
        font-size: 30px;
        text-align: center;
        padding: 5px;
        letter-spacing: 2px;
        margin-top: 5px;
    }
    
    .colors {
        letter-spacing: -10px;
    }

    .gamegirl {
        display: inline;
    }

    /* a.button {
        width: 120px;
        font-size: 20px;
        line-height: 40px;
    } */

    .wrapper {
        width: 200px;
        height: 80px;
        top: 50px;
        left: 0;
        margin-left: -40px;
    }

    .container-footer {
        height: 100%;
    }

    .bottom-btm {
        width: 300px;
        margin: 0;
        top: 50px;
        left: auto;
        right: 0;
    }

    #music-div {
        width: 110px;
        margin: 0;
        top: 100px;
        left: auto;
        bottom: auto;
        right: 0;
    }

    .inner-right button {
        padding: 3px 20px;
        font-size: 12px;
    }


    .choosing h3{
        font-size: 30px;
        line-height: 90px;
        letter-spacing: 2px;
    }

    /* .chara-slot {
        width: 24%;
        margin: 0 auto;
    } */

    .chara-slot p {
        margin-left: 10px;
        font-size: 12px;
        opacity: 1;
    }

    .right-battle {
        top: 10px;
    }

    .right-status {
        width: 220px;
        height: 55px;
        top: 50px;
        right: 250px;
    }

    .left-battle {
        bottom: 50%;
        left: 30px;
    }
    
    .left-status {
        width: 220px;
        height: 55px;
        left: 250px;
    }

    .status-name {
        font-size: 15px;
        line-height: 20px;
        margin-top: -10px;
    }

    .status-attack,
    .status-health {
        font-size: 12px;
    }

    .health-bar {
        margin-top: 17px;
    }

    .info-center p {
        font-size: 17px;
        line-height: 30px;
    }

    .win-page,
    .lose-page {
        height: 100px;
        font-size: 30px;
        line-height: 95px;
    }

    .win-page {
        border: 5px solid #2b8dfd;
    }
    
    .lose-page {
        border: 5px solid #802d2d;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 830px)  {
    .inner-left {
        height: 420px;
    }
    .left-status {
        width: 165px;
        height: 50px;
    }

    .right-status {
        width: 165px;
        height: 50px;
    }

    .status-name {
        margin-top: -15px;
    }

    .info-center {
        padding: 20px 25px;
    }

    .info-center p {
        font-size: 12px;
        line-height: 20px;
    }

    #pikaimg {
        display: none;
    }

    .bottom-btm {
        width: 200px;
    }

    #music-div {
        width: 81px;
    }

    .inner-right button {
        padding: 3px 10px;
        width: 80px;
    }

    .nintendo {
        line-height: 290px;;
    }
}

@media screen and (max-width: 530px) {
    #messages h1 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
    }

    .score, .click-start {
        width: 200px;
        margin: 8px auto;
        font-size: 16px;
    }

    .inner-left {
        width: 100%;
        height: 60%;
    }

    .left-battle {
        width: 130px;
        bottom: 28%;
    }

    .left-status {
        width: 150px;
        height: 50px;
        bottom: 30%;
        left: 120px;
    }

    .right-battle {
        width: 130px;
        top: 0;
    }

    .right-status {
        width: 150px;
        height: 50px;
        top: 20px;
        right: 120px;
    }

    .info-center {
        padding: 10px;
    }

    .info-center p {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

    .wrapper {
        position: static;
        margin: 20px auto;
    }

    .bottom-btm {
        width: 50%;
        top: initial;
        left: initial;
        bottom: 0px;
        left: 50%;
    }

    .bottom-btm button:first-child{
        margin-left: -40px;
    }

    #music-div {
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
    }

    a.button {
        margin: 5px auto;
        width: 90px;
        font-size: 15px;
        line-height: 30px;
        border: 2px outset #7c7c7c;
        box-shadow: 0px 5px 0px 0px #3b3b3b;
    }

    a.button:active {
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 0px 0px #3b3b3b;
    }

    a.button:active .wrapper {
        margin: 15px auto 55px auto;
    }

    .nintendo {
        font-size: 50px;
        line-height: 290px;;
    }
}

@media screen and (max-width: 425px) {
    .inner-left {
        width: 100%;
        height: 320px;
    }

    #messages {
        margin-top: 10px;
    }

    .main-stage {
        width: 288px;
    }

    .info-center {
        padding: 10px 2px;
        width: 288px;
    }

    .info-center p {
        font-size: 11px;
        line-height: 20px;
    }

    .left-battle {
        width: 100px;
        bottom: 13%;
    }

    .right-battle {
        width: 100px;
    }

    .left-status {
        border-right: 2px solid var(--inner-color);
        border-bottom: 2px solid var(--inner-color);
    }

    .right-status {
        border-left: 2px solid var(--inner-color);
        border-bottom: 2px solid var(--inner-color);
    }

    .left-status,
    .right-status {
        padding: 2px 10px;
        height: 38px;
    }

    .choosing h3 {
        font-size: 22px;
        line-height: 90px;
        letter-spacing: 1;
    }

    .inner-right {
        width: 288px;
        height: 155px;
        margin: 0 auto;
        height: auto;
    }

    .wrapper {
        margin: 10px auto 60px auto;
        height: auto;
        /* top: 50%; */
    }

    .container-footer {
        height: auto;
    }

    .nintendo {
        font-size: 40px;
        line-height: 220px;;
    }
}