:root {
    --padd: 20px;
    --marg: 20px;
    --shadow: 2px 2px 15px #000;
    --btn-bord: 5px solid;
    --txt-shadow: 1px 1px 1px #000;
    --trans: .1s ease-in-out;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow: hidden;
    background-color: #94f1a8;
}

.disappear {
    display: none;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}







/* //////////////////////////////////////////////////// */
/* //////////////// HEADER //////////////////////////// */
/* //////////////////////////////////////////////////// */

/* Messages */
header {
    height:20%;
    text-align: center;
}

.header-div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: var(--padd);
}

.header-div h1 {
    font-size: 50px;
}

/* Characters */
.player {
    width: 70px;
}






/* //////////////////////////////////////////////////// */
/* //////////////// MAIN STAGE //////////////////////// */
/* //////////////////////////////////////////////////// */
.container {
    width: 100%;
    min-height: 60%;
    margin: 0 auto;
    position: relative;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e0d994;
    border: 10px inset #aca675;
    border-radius: 1px;
}

.field-div {
    height: 100%;
    width: 50%;
    position: relative;
}

#left-field {
    float: left;
}

#right-field {
    float: right;
}


/* Character CSS */
.chara {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
}


.in-play {
    width: 100%;
}






/* //////////////////////////////////////////////////// */
/* //////////////// FOOTER //////////////////////////// */
/* //////////////////////////////////////////////////// */
footer {
    position: relative;
    height: 20%;
    bottom: 0;
    padding: var(--padd);
    clear: both;
}

.wrapper {
    width: 500px;
    margin: 20px auto;
  }

.container-footer {
    padding-bottom: 40px;
    padding-left: 9%;
    padding-right: 7%;
    border-top: 1px solid #ccc;
}

a.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all var(--trans);
    text-decoration: none;
}



.btnBlueGreen {
    background: #00AE68;
}

.btnLightBlue {
    background: #5d65cd;
}

.btnPurple {
    background: #a74949;
}



.btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px rgb(30, 46, 133);
}

.btnPurple.btnPush {
    box-shadow: 0px 5px 0px 0px #6d1818;
}


.btnPush:hover {
    text-shadow: 1px 1px 1px #000;
}

.btnPush:active {
    margin-top: 15px;
    margin-bottom: 5px;
}



.btnBlueGreen.btnPush:active {
    box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:active {
    box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnPurple.btnPush:active {
    box-shadow: 0px 0px 0px 0px #6d1818;
}