@import url('https://fonts.googleapis.com/css?family=Catamaran|Gugi');


:root {
    --padd: 20px;
    --marg: 20px;
    --shadow: 2px 2px 15px #000;
    --btn-bord: 5px solid;
    --txt-shadow: 1px 1px 1px #000;
    --trans: all 300ms ease-in-out;

    --display: 'Gugi', cursive;
    --status: 'Catamaran', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-color: #272727;
    font-family: var(--status);
}

.disappear {
    display: none;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}







/* //////////////////////////////////////////////////// */
/* //////////////// HEADER //////////////////////////// */
/* //////////////////////////////////////////////////// */

/* Messages */
header {
    height:20%;
    text-align: center;
}

.header-div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: var(--padd);
}

.header-div h1 {
    font-size: 50px;
    font-family: var(--display);
    color: #fff;
}




/* to center 4 pic only */
#chara-select {
    width: 1100px;
}

.chara-slot {
    width: 220px;
    height: 120px;
    float: left;
    margin: 6px 2%; /*  2% left right to center 4*/
    color: #fff;
    z-index: 99;
}

.chara-slot img {
    height: 75%;
    width: 70px;
}

.chara-slot p {
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.chara-slot:hover p {
    opacity: 1;
}



/* //////////////////////////////////////////////////// */
/* //////////////// MAIN STAGE //////////////////////// */
/* //////////////////////////////////////////////////// */
.container {
    width: 100%;
    min-height: 50%;
    margin: 0 auto;
    position: relative;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: #e0d994;
    border: 10px inset #aca675; */
    border-radius: 1px;
}

.field-div {
    height: 100%;
    width: 50%;
    position: relative;
}

#left-field {
    float: left;
}

#right-field {
    float: right;
}


/* Character CSS */
.chara {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    color: #fff;
    font-size: 30px;
}


.chara img {
    width: 100%;
    height: 180px;
}

.health,
.attack {
    font-size: 18px;
}





/* //////////////////////////////////////////////////// */
/* //////////////// FOOTER //////////////////////////// */
/* //////////////////////////////////////////////////// */
footer {
    position: relative;
    height: 30%;
    bottom: 0;
    padding: var(--padd);
    clear: both;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #fff,
                inset 0 0 15px 0 #fff;
}

.bottom {
    width: 380px;
    height: 95%;
    border-radius: 5px;
    top: 10%;
    color: #fff;
    padding: 10px;
    font-size: 35px;
    line-height: 40px;
}

.info-center {
    height: 50%;
    position: absolute;
    right: 25px;
}

.info-center p {
    font-size: 20px;
    padding: 8px;
}


.setting {
    position: absolute;
    left: 25px;
    padding-left: 35px;
}

.setting h3 {
    line-height: 70px;
}

#reset {
    position: absolute;
    bottom: 30px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #383838;
    border: 4px outset #686767;
    color: #fff;
    font-size: 20px;
    transition: var(--trans);
}

#reset:hover {
    background-color: #fff;
    color:  #383838;
    border: 4px outset #cecece;
}

#reset:active {
    border: none;
}

.wrapper {
    width: 300px;
    margin: 20px auto;
}

.container-footer {
    padding-bottom: 40px;
    padding-left: 9%;
    padding-right: 7%;
}

a.button {
    display: block;
    position: relative;
    width: 200px;
    margin: 20px auto;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    color: #FFF;
    border-radius: 7px;
    transition: var(--trans);
    text-decoration: none;

}

a.button:hover {
    text-shadow: 1px 1px 3px #000;
}

.start {
    background: #6aca6a;
    box-shadow: 0px 10px 0px 0px #468646;
    border: 4px outset #7eee7e;
}

a.start:active {
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 0px #468646;
}

.atk {
    background: #ca6a6a;
    box-shadow: 0px 10px 0px 0px #5a2e2e;
    border: 4px outset #fa8585;
}

a.reset:active {
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 0px #5a2e2e;
}

.reset {
    background: #a8a8a8;
    box-shadow: 0px 10px 0px 0px #5f5f5f;
    border: 4px outset #d1d1d1;
}

a.reset:active {
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 0px #5f5f5f;
}